<header class="w-full bg-fondoPrincipal text-white shadow-md px-6 py-3 flex items-center justify-between relative">
  <!-- Logo -->
  <div class="flex items-center space-x-3">
    <img src="/img/logo.png" alt="Logo del gimnasio" class="w-10 h-auto" />
    <h2 class="text-sm md:text-lg font-bold text-texto">Tu cuerpo es tu templo, cuídalo</h2>
  </div>

  <!-- Botón hamburguesa -->
  <button class="block md:hidden focus:outline-none" (click)="toggleMenu()">
    <span *ngIf="!menuAbierto">☰</span>
    <span *ngIf="menuAbierto">✕</span>
  </button>

  <!-- Menú grande (desktop) -->
  <nav class="hidden md:flex space-x-6 text-sm font-medium">
    <a routerLink="/" class="hover:text-blue-400 transition">Inicio</a>
    <a href="#clases-privadas" class="hover:text-blue-400 transition">Clases Privadas</a>
    <a href="#clases-grupales" class="hover:text-blue-400 transition">Clases Grupales</a>
    <a href="#noticias" class="hover:text-blue-400 transition">Noticias</a>
    <a routerLink="/registrar" class="hover:text-blue-400 transition cursor-pointer">Regístrate</a>
    <a routerLink="/mis-reservas" class="hover:text-blue-400 transition cursor-pointer">reservas</a>
    <a routerLink="/login" class="hover:text-blue-400 transition cursor-pointer">Iniciar Sesión</a>
  </nav>
  <!-- Menú móvil -->
  <nav
    [hidden]="!menuAbierto"
    class="absolute top-full left-0 w-full bg-fondoPrincipal text-white flex flex-col items-center md:hidden z-50"
  >
    <a href="#inicio" class="py-2 w-full text-center hover:bg-blue-700 transition">Inicio</a>
    <a href="#clases-privadas" class="py-2 w-full text-center hover:bg-blue-700 transition">Clases Privadas</a>
    <a href="#clases-grupales" class="py-2 w-full text-center hover:bg-blue-700 transition">Clases Grupales</a>
    <a href="#suscribete" class="py-2 w-full text-center hover:bg-blue-700 transition">Regístrate</a>
    <a href="#noticias" class="py-2 w-full text-center hover:bg-blue-700 transition">Noticias</a>
  </nav>
</header>
